@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: rgb(242, 255, 0);
    color: rgb(5, 49, 0);
}

header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 3rem;
    color: #306003;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(1.1);
}

nav a{
    font-size: 1.8rem;
    color: rgb(3, 74, 11);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active{
    color: #40ff00;
    border-bottom: 3px solid #59ff00;
}

@media(max-width:995px){
    nav{
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid #91ff00;
        border-bottom: 3px solid #83e512;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: #eeff00;
        border-top: 0.1rem solid rgb(242, 255, 0);
    }

    nav.active{
        display: block;
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #55af00;
    }
}

section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: rgb(242, 255, 0);
}

.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color: #66ff00;
}

.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content p{
    font-size: 1.6rem;
}

.home-img{
    border-radius: 30%;
}
/*to adjust the images border */
.home-img img{
    position: relative;
    width: 20vw;
    /*border-radius: 30%;*/
    clip-path:circle();
    box-shadow: 0 0 25px solid #5eff00;
    cursor: pointer;
    transition: 0.2s linear;
}

.home-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #4dff00;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: #2bff00;
}

.social-icons a:hover{
    color: rgb(242, 255, 0);
    transform: scale(1.3) translateY(-5px);
    background-color: #5eff00;
    box-shadow: 0  0 25px #44ff00;
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: rgb(242, 255, 0);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #40ff00;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #4dff00;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover{
    transform: scale3d(1.03);
    background-color: #6aff00;
    color: black;
    box-shadow: 0 0 25px #88ff00;
}

.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span{
    position: relative;
}

.typing-text span::before{
    content: "software Developer";
    color: #62ff00;
    animation: words 20s infinite;
}

.typing-text span::after{
    content: "";
    background-color: rgb(242, 255, 0);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid rgb(255, 255, 0);
    right: -8;
    animation: cursor 0.6s infinite;
}

@keyframes cursor{
    to{
        border-left: 3px solid #37ff00;
    }
}

@keyframes words{

    0%, 100%{
        content: "BMCC Student";
    }
}

@media (max-width: 1000px){
    .home{
        gap: 4rem;
    }
}

@media(max-width:995px){
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .home-content h3{
        font-size: 2.5rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }
}

/*resume*/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
:root {
	--primary-color: #23a723;
	--text-color: #004300;
}
html {
	font-size: 10px;
}
body {
	font-family: Inter, sans-serif;
	background-color: rgb(6, 61, 0);
	color: rgb(0, 122, 12);
}

/* common styles */
img {
	width: 100%;
}
a {
	text-decoration: none;
	color: rgb(0, 94, 0);
}
.description {
	margin-top: 1rem;
	font-size: 1.5rem;
	font-weight: 400;
	color: var(--text-color);
}
.title {
	color: var(--primary-color);
	font-weight: 700;
	font-size: 2rem;
	text-transform: uppercase;
}
.item_preTitle {
	font-size: 1.4rem;
	color: var(--text-color);
	font-weight: 300;
}
.item_title {
	font-size: 1.6rem;
	color: rgb(0, 63, 19);
	font-weight: 500;
	margin: 0.8rem 0;
}
.item_subtitle {
	font-size: 1.4rem;
	color: var(--text-color);
	font-weight: 400;
}

/* layouts */
.container {
	max-width: 1000px;
	width: 90%;
	margin: 0 auto;
	display: grid;
	padding: 5rem;
	background: #aaff00;
	grid-template-columns: 1fr 1fr;
	gap: 4rem;
}
@media only screen and (max-width: 768px) {
	.container {
		width: 100%;
		grid-template-columns: 1fr;
		padding: 3rem;
		gap: 7rem;
	}
}
.profile {
	grid-column: 1 / -1;
	margin-bottom: 2rem;
}
.group-1,
.group-2 {
	display: flex;
	flex-direction: column;
	gap: 5rem;
}
.group-3 {
	max-width: 700px;
	width: 100%;
	margin: 0 auto;
	grid-column: 1/-1;
	display: flex;
	flex-direction: row;
	gap: 5rem;
}
.group-3 > div {
	flex: 1;
}
@media only screen and (max-width: 768px) {
	.profile {
		margin-bottom: 0;
	}
	.group-3 {
		flex-direction: column;
	}
}

/* profile */
.profile_container {
	display: flex;
	gap: 2rem;
}
.profile_profileImg {
	max-width: 250px;
}
.profile_name_firstName {
	color: rgb(10, 152, 0);
	font-weight: 200;
	font-size: clamp(2rem, 8vw, 4rem);
	text-transform: uppercase;
	display: block;
	margin-bottom: -0.8rem;
}
.profile_name_lastName {
	color: var(--primary-color);
	font-weight: 700;
	font-size: clamp(2.5rem, 15vw, 7rem);
	text-transform: uppercase;
	display: block;
}
.profile_title {
	font-size: 1.5rem;
	font-weight: 400;
	text-transform: uppercase;
}
.downloadBtn {
	display: block;
	text-decoration: underline;
	font-size: 1.6rem;
	margin-top: 1rem;
}
.downloadBtn:hover {
	color: var(--primary-color);
}
@media only screen and (max-width: 768px) {
	.profile_container {
		flex-direction: column;
	}
}

/* Expertise */
.skills_list {
	margin-top: 1rem;
	margin-left: 2rem;
	line-height: 2;
}

/* Ref  */
.ref_item {
	margin-top: 2rem;
}
.ref_name {
	font-size: 1.6rem;
	font-weight: 700;
}

/* eduction */
.edu_item {
	margin-top: 2rem;
}

/* certification */
.certification_item {
	margin-top: 2rem;
}
/* exp */
.exp_item {
	margin-top: 2rem;
}

/* awards */
.awards_item {
	margin-top: 2rem;
}
/* Interests */
.interest_items {
	margin-top: 2rem;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 2rem;
}
.interest_item {
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	color: var(--text-color);
}
.interest_item svg {
	width: 2rem;
}

/* socials */
.social_items {
	margin-top: 2rem;
}
.social_item {
	margin-top: 1.5rem;
	font-size: 1.5rem;
	display: flex;
	gap: 0.5rem;
	align-items: center;
	justify-content: flex-start;
	color: var(--text-color);
}
.social_item:hover {
	color: var(--primary-color);
}
.social_item svg {
	width: 2rem;
}

hr {
	grid-column: 1/-1;
	width: 80%;
	margin: 0 auto;
	margin-top: 5rem;
	margin-bottom: 1rem;
	border: none;
	border-top: 2px solid rgba(128, 128, 128, 0.229);
}
@media only screen and (max-width: 768px) {
	hr {
		margin: 0 auto;
	}
}

/* work  */
.work {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
  }
  
  .work img {
    width: 100%;
    height: 100%;
  }